body{
    background-color: #0e1111 !important;
    color:#ececec !important;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.img-logo{
    width: 72px;
    height: 72px;
}